.PlaylistForm {
    margin: 48px auto 48px auto;
}
.InputFormTitle {
    margin-left: 24px;
    width: 200px;
    height: 40px;
    border-radius: 24px;
    padding: 4px 16px;
}

.InputFormDesc {
    margin-left: 24px;
    width: 200px;
    height: 40px;
    border-radius: 24px;
    padding: 4px 16px;
}

.CreateButton {
    margin-left: 24px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #76c795;
    background-color: #4ebe32;
    border-radius: 8px;
    border-color: #57f599;
}

.CreateButton:active {
    position: relative;
    box-shadow: none;
  }