.Form {
    display: flex;
}

.SearchInput {
    float: left;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    display: block;
    width: 320px;
    height: 60px;
    margin: 48px;
    border: none;
    padding: 0 0 0 24px;
    border-radius: 24px;
    background-color: #9fa1a0;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
}


