.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .btn-login-spotify {
    width: 300px;
    display: block;
    padding: 10px 20px;
    margin-top: 36px;
  }
  